<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-project-heading" jhiTranslate="releaseVitalsApp.project.home.createOrEditLabel">Create or edit a Project</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!project.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="project.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="releaseVitalsApp.project.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="project.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="releaseVitalsApp.project.key" for="field_key">Key</label>
                    <input type="text" class="form-control" name="key" id="field_key"
                        [(ngModel)]="project.key" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="releaseVitalsApp.project.release" for="field_release">Release</label>
                    <select class="form-control" id="field_release" name="release" [(ngModel)]="project.release" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="releaseOption.id === project.release?.id ? project.release : releaseOption" *ngFor="let releaseOption of releases; trackBy: trackReleaseById">{{releaseOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
