<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <h2><span jhiTranslate="releaseVitalsApp.project.detail.title">Project</span> {{project.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="releaseVitalsApp.project.name">Name</span></dt>
                <dd>
                    <span>{{project.name}}</span>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.project.key">Key</span></dt>
                <dd>
                    <span>{{project.key}}</span>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.project.release">Release</span></dt>
                <dd>
                    <div *ngIf="project.release">
                        <a [routerLink]="['/release', project.release?.id, 'view']">{{project.release?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.project.version">Version</span></dt>
                <dd>
                    <span *ngFor="let version of project.versions; let last = last">
                        <a [routerLink]="['/version', version?.id, 'view' ]">{{version.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
