<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="issue">
            <h2><span jhiTranslate="releaseVitalsApp.issue.detail.title">Issue</span> {{issue.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="releaseVitalsApp.issue.title">Title</span></dt>
                <dd>
                    <span>{{issue.title}}</span>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.issue.description">Description</span></dt>
                <dd>
                    <span>{{issue.description}}</span>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.issue.key">Key</span></dt>
                <dd>
                    <span>{{issue.key}}</span>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.issue.sprint">Sprint</span></dt>
                <dd>
                    <div *ngIf="issue.sprint">
                        <a [routerLink]="['/sprint', issue.sprint?.id, 'view']">{{issue.sprint?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.issue.project">Project</span></dt>
                <dd>
                    <div *ngIf="issue.project">
                        <a [routerLink]="['/project', issue.project?.id, 'view']">{{issue.project?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="releaseVitalsApp.issue.epic">Epic</span></dt>
                <dd>
                    <div *ngIf="issue.epic">
                        <a [routerLink]="['/epic', issue.epic?.id, 'view']">{{issue.epic?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/issue', issue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
